################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReadData/bin/Debug/netcoreapp3.1
/ReadData/obj
/ReadData/.vs
